<div class="card card-body p-4 rounded-0 bg-dark text-white">
  <h2>Añade una nota</h2>
  <form action="/tasks/add" method="POST">

  <div>
    <label for="title">Escribe un título:</label>

    <input type="text" name="title" placeholder="título" id="title" class="form-control rounded-0 bg-dark text-white"/>
  </div>

  <div>
    <label for="description">Descripción:</label>
    <textarea
      name="description"
      placeholder="descripción"
      id="description"
      class="form-control rounded-0 bg-dark text-white"
    ></textarea>
  </div>

  <button class="btn btn-primary btn-sm mt-2">Agregar</button>

</form>
</div>