<nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container">
        <a href="/" class="navbar-brand">Aplicación de Notas</a>
    </div>
    <div class="container">
        <a href="/contacto" class="navbar-brand">Contáctenos</a>
    </div>
</nav>